 
<div class="text-center">
  <% @avalanches.each do |avalanche|%>   

<div class="container panel-group accordion" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default accordion-group">
    <div class="panel-heading" role="tab" id="headingOne">
      <div>
      <h4 class="panel-title text-center">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne<%=avalanche[:id]%>" aria-expanded="true" aria-controls="collapseOne"> 
          <%= avalanche[:region] %>
        </a>
      </h4>
      </div>
    <div id="collapseOne<%=avalanche[:id]%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body text-center">
              <ul>
                <p><strong>Date: </strong> <%= avalanche[:date] %></p>
                <p><strong>State: </strong> <%= avalanche[:state] %></p>
                <p><strong>Region: </strong> <%= avalanche[:region] %></p>
                <p><strong>Avalanche Type: </strong> <%= avalanche[:avalanche_type] %></p>
                <p><strong>Latitude: </strong> <%= avalanche[:langitude] %></p>
                <p><strong>Longitude: </strong> <%= avalanche[:longitude] %></p>
                <p><strong>Aspect: </strong> <%= avalanche[:aspect] %></p>
                <p><strong>Elevation: </strong> <%= avalanche[:elevation] %></p>
                <p><strong>Area Description: </strong> <%= avalanche[:area_description] %></p>
                <p><strong>Route Description: </strong> <%= avalanche[:route_description] %></p>
                
                <form method="post" action="/avi/<%= avalanche.id %>">  
                   <input name="_method" value="DELETE" type="hidden"/>
                   <button class="btn">Delete</button>
                </form>

                <a href="/avi/<%= avalanche.id %>/edit">
                <button class="btn" >Edit</button>
                </a>
            </ul>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  <% end %>




    
   