<form action="/avi/<%=@avalanche.id %>/update" method="POST" id="form">
  <input type='hidden' name='_method' value="PUT">

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Colorado</a></li>
    <li><a href="#">Wyoming</a></li>
    <li><a href="#">Utah</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group input-group-2">
      <span class="input-group-addon" id="sizing-addon2">Date</span>

      <input name= "avalanche[date]" value= '<%= @avalanche.date %>' type="text" class="form-control" placeholder="12/02/16" aria-describedby="sizing-addon2">

    </div>

    <div class="input-group input-group-2">
      <span class="input-group-addon" id="sizing-addon2">State</span>

      <input name= "avalanche[state]" value= '<%= @avalanche.state %>' type="text" class="form-control" placeholder="Colorado" aria-describedby="sizing-addon2">

    </div>

    <div class="input-group input-group-2">
      <span class="input-group-addon" id="sizing-addon2">Region</span>
      <input name="avalanche[region]" value= '<%= @avalanche.region %>' type="text" class="form-control" placeholder="Berthoud Pass" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group input-group-2">
      <span class="input-group-addon" id="sizing-addon2">Avalanche Type</span>
      <input name= "avalanche[avalanche_type]" value= '<%= @avalanche.avalanche_type %>'
      type="text" class="form-control" placeholder="Wet Slide" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group input-group-2">
      <span class="input-group-addon" id="sizing-addon2">Latitude</span>
      <input name= "avalanche[langitude]" value= '<%= @avalanche.langitude %>' type="text" class="form-control" placeholder="latitude" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group input-group-2">
      <span class="input-group-addon" id="sizing-addon2">Longitude</span>
      <input name= "avalanche[longitude]" value= '<%= @avalanche.longitude %>' type="text" class="form-control" placeholder="longitude" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group input-group-2">
      <span class="input-group-addon" id="sizing-addon2">Elevation</span>
      <input name="avalanche[elevation]" value= '<%= @avalanche.elevation %>' type="text" class="form-control" placeholder="12,567 ft" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group input-group-2">
      <span class="input-group-addon" id="sizing-addon2">Aspect</span>
      <input name="avalanche[aspect]" value= '<%= @avalanche.aspect %>' type="text" class="form-control" placeholder="North, northwest" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group input-group-2 input-group-3">
      <span class="input-group-addon" id="sizing-addon2">Area Description</span>
      <input name="avalanche[area_description]" value= '<%= @avalanche.area_description %>' type="text" class="form-control" placeholder="Pass known as Hatchers" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group input-group-2 input-group-3">
      <span class="input-group-addon" id="sizing-addon2">Route Description</span>
      <input name="avalanche[route_description]" value= '<%= @avalanche.route_description %>' type= "text" class="form-control" placeholder="Ex. Veered left along the ridge lookers left of Togatee Parking lot." aria-describedby="sizing-addon2">
    </div>

    </div>
    <input type="submit" id="submit" class="btn btn-default">
  </div>
</div>
</form>



