</div>
<div class="render_1_@avalanche">
     <p> Date: <%= @avalanche[:date] %></p>
     <p> State: <%= @avalanche[:state] %></p>
     <p>Region: <%= @avalanche[:region] %></p>
     <p>Avalanche Type: <%= @avalanche[:avalanche_type] %></p>
     <p>Latitude: <%= @avalanche[:langitude] %></p>
   	 <p>Longitude: <%= @avalanche[:longitude] %></p>
     <p>Aspect: <%= @avalanche[:aspect] %></p>
     <p>Elevation: <%= @avalanche[:elevation] %></p>
     <p>Area Description: <%= @avalanche[:area_description] %></p>
     <p>Route Description: <%= @avalanche[:route_description]%></p>
</div>


